<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | absoluteUrl(site.baseUrl) }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | absoluteUrl(site.baseUrl) }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | absoluteUrl(site.baseUrl) }}">
<link rel="manifest" href="{{ '/site.webmanifest' | absoluteUrl(site.baseUrl) }}">
<link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | absoluteUrl(site.baseUrl) }}" color="#8459e1">
<meta name="msapplication-TileColor" content="#8459e1">
<meta name="theme-color" content="#8459e1">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@GlitchFamilyHQ">
<meta name="twitter:title" content="{% titleGenerator title, site, page.url, pagination %}">
<meta name="twitter:description" content="{{ description or site.description }}">
<meta name="twitter:image" content="{{ '/cover.png' | absoluteUrl(site.baseUrl) }}">
