<div class="contribute container">
    <a class="contribute__box" href="https://github.com/GuerillaHQ/vanillalist/blob/main/CONTRIBUTING.md">
        {% include 'add-plugin.svg' %}
        <div class="contribute__content">
            <div class="contribute__title">Want to suggest a plugin?</div>
            <div class="contribute__subtitle">Submit one on Github <span class="emoji">🤘</span></div>
        </div>
    </a>
</div>

<footer class="footer container">
    Copyleft ∴ <a href="https://guerilla.studio">Guérilla.Studio</a> — This project is <a href="https://github.com/GuerillaHQ/vanillalist" rel="noopener">open-source</a> but the plugin's visuals belong to their respective owners — <a href="{{ '/feed.xml' | url }}">RSS feed</a>
</footer>
