<div class="contribute container">
    <a class="contribute__box" href="https://github.com/GlitchFamily/vanillalist/blob/main/CONTRIBUTING.md">
        {% include 'add-plugin.svg' %}
        <div class="contribute__content">
            <div class="contribute__title">Want to suggest a plugin?</div>
            <div class="contribute__subtitle">Submit one on Github <span class="emoji">🤘</spans></div>
        </div>
    </a>
</div>

<footer class="footer container">
    Copyleft ∴ <a href="https://glitch.family">Glitch.Family</a> — This project is <a href="https://github.com/GlitchFamily/vanillalist" rel="noopener">open-source</a> but the plugin's visuals belong to their respective owners
</footer>
