// --------------------------------------------------------------
// == colors */
// --------------------------------------------------------------

// palette
// --------------------------------------------------------------

$color-primary: #8459e1;
$color-secondary: #858585;
$color-tertiary: #f14b59;
$color-info: #2185d0;

// texts
// --------------------------------------------------------------

$color-light-text : #fcfcfc;
$color-dark-text : #6f6f6f;

// links
// --------------------------------------------------------------

$color-link : $color-primary;

// shades of grey
// --------------------------------------------------------------

$color-gray-10 : rgb(0 0 0 / 10%);
$color-gray-20 : rgb(0 0 0 / 20%);
$color-gray-30 : rgb(0 0 0 / 30%);
$color-gray-40 : rgb(0 0 0 / 40%);
$color-gray-50 : rgb(0 0 0 / 50%);
$color-gray-60 : rgb(0 0 0 / 60%);
$color-gray-70 : rgb(0 0 0 / 70%);
$color-gray-80 : rgb(0 0 0 / 80%);
$color-gray-90 : rgb(0 0 0 / 90%);

// brand
// --------------------------------------------------------------

$color-github : #3499e0;
$color-npm : #ef505e;
$color-demo : #f9b644;
$color-facebook : #3b5998;
$color-google : #dd4b39;
$color-youtube : #e52d27;
$color-pinterest : #cc2127;
$color-vimeo : #1ab7ea;
$color-linkedin : #0976b4;
$color-instagram : #3f729b;
