// --------------------------------------------------------------
// == config */
// --------------------------------------------------------------

@import '_colors';
@import '_config';

// --------------------------------------------------------------
// == core */
// --------------------------------------------------------------

@import '1-core/_00-mixins';
@import '1-core/_01-reset';
@import '1-core/_02-typography';
@import '1-core/_03-helpers';
// @import '1-core/_04-layout';
// @import '1-core/_05-flexgrid';
// @import '1-core/_06-rwd';
// @import '1-core/_debug';

// --------------------------------------------------------------
// == helpers */
// --------------------------------------------------------------

@import '2-helpers/_alignment';
// @import '2-helpers/_colors';
@import '2-helpers/_spacing';
@import '2-helpers/_text';
@import '2-helpers/_width';

// --------------------------------------------------------------
// == components */
// --------------------------------------------------------------

@import '3-components/_forms';
// @import '3-components/_switch';
// @import '3-components/_radiobox';
@import '3-components/_buttons';
@import '3-components/_pagination';
// @import '3-components/_tables';
// @import '3-components/_tooltips';
// @import '3-components/_notifications';


// --------------------------------------------------------------
// == base */
// --------------------------------------------------------------

@import '4-base/_01-fonts';
@import '4-base/_02-icons';
// @import '4-base/_03-grids';
@import '4-base/_04-main';
@import '4-base/_05-layout';
@import '4-base/_06-header';
@import '4-base/_07-navigation';
@import '4-base/_08-content';
@import '4-base/_09-footer';


// --------------------------------------------------------------
// == modules */
// --------------------------------------------------------------

@import '5-modules/plugin-list';
@import '5-modules/plugin';


// --------------------------------------------------------------
// == pages */
// --------------------------------------------------------------

// @import '6-pages/...';


// --------------------------------------------------------------
// == vendors */
// --------------------------------------------------------------

// Tips: load vendor from your package manager and override CSS here (e.g. o-vendor-name.scss)
// In this context, "o" means "override" and you can use it as a convention.

// @import '7-vendors/o-vendor.scss';


// --------------------------------------------------------------
// == rwd */
// --------------------------------------------------------------

// @import '8-rwd/_rwd-large';
// @import '8-rwd/_rwd-medium';
// @import '8-rwd/_rwd-small';
@import '8-rwd/_rwd-xsmall';
@import '8-rwd/_rwd';
