<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% titleGenerator title,
            site,
            page.url,
            pagination %}
        </title>
        <meta name="description" content="{{ description or site.description }}">
        <meta name="generator" content="Eleventy">
        <link rel="canonical" href="{% include 'canonical.njk' | url %}"/>
        {% include 'favicons.njk' %}
        <link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
        <link rel="alternate" type="application/rss+xml" href="{{ '/feed.xml' | url }}" title="{{ site.name }}" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="container">
                {# Announcements #}
                <div class="txtcenter"><div class="notif notif--info notif--small txtcenter inline-block mb1">{% include 'ico-info.svg' %}<time datetime="2024-10-09">09/10/2024</time>: An update about the state of the project: <a href="https://guerilla.studio/blog/2024-vanilla-list-state-and-whats-next/" target="_blank">What' Next</a></div></div>
                {# Logo #}
                <a class="header__homeLink" href="{{ '/' | absoluteUrl(site.baseUrl) }}">
                    <div class="header__picto">{% include 'picto.svg' %}</div>
                    {% if page.fileSlug === '' %}
                        <h1 class="header__name">The Vanilla JavaScript Repository</h1>
                    {% else %}
                        <div class="header__name">The Vanilla JavaScript Repository</div>
                    {% endif %}
                </a>
                {% if page.fileSlug !== '' %}
                    <h1 class="visually-hidden">{{ title }}</h1>
                {% endif %}
                <p class="header__slogan">Because lighter plugins mean lighter sites</p>
                {# Search #}
                <form class="header__search" action="/search" method="GET" data-search="form">
                    <label class="visually-hidden" for="search_input">Search plugins</label>
                    <input type="search" id="search_input" name="s" placeholder="slider, animation, etc…" data-search="input">
                    <button class="btn btn--secondary">Search</button>
                </form>
            </div>
        </header>
        <main class="container">
            {{ content | safe }}
        </main>
        {% include 'footer.njk' %}
        {% block js %}{% endblock %}
    </body>
</html>
