// -----------------------------------------------------------
// == footer
// -----------------------------------------------------------

.footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: #737373;
  text-align: center;
}

.footer a[href*="//"]::after {
  font-size: .8em;
  font-family: system-ui, -apple-system, sans-serif;
  vertical-align: 10%;
  content: "↗";
  content: "↗" / "";
}
