/* ----------------------------------------------------------- */
/* == footer */
/* ----------------------------------------------------------- */

.footer {
  padding: 6rem 0;
  color: #737373;
  text-align: center;
}

.footer a[href*='//']::after {
  font-size: .9em;
  font-family: system-ui,-apple-system,sans-serif;
  content: '↗';
}
